#header .brand {
  float: left;
  width: 240px;
  min-height: 80px;
  padding: 0 0 0 10px;
  position: relative;
  background: #1abc9c !important;
}
h1{
	margin-top:10px;
}
td.code > div.container, td.code > div.container:after, td.code > div.container:before{ content : none !important; }
fieldset{ margin: 10px 0px 10px 0px;}
.nav-tabs > li > a:hover {
	background-color: #eaeaea;
}
/** Syntax Highlighter Updates */
pre, .syntaxhighlighter code{
	font-size: 14px !important;
	margin: 10px 0px;
}
div.syntaxhighlighter{
	border: 1px solid #ccc;
	padding: 5px;
}
div.syntaxhighlighter div.container:after,
div.syntaxhighlighter div.container:before{ display: block !important;}